*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Header Section */
.header{
    width: 100%;
    background-color: #eee;
}
/* Navigation Section */
.nav{
    width: 80%;
    margin: 0 auto;
    padding: .6rem 1rem;
}
.list{
    list-style: none;
    display: flex;
    align-content: center;
    padding: .2rem 1rem;
}
.item{
    flex: 2;
    font-size: 1.2rem;
}
.nav__link
{   
    text-decoration: none;
    color:#333;
}
.social{
    flex: 1;
}
.menu{
    padding-left: 2rem;  
    display: none;
    background-color: tomato;
}
.mbtn{
    border: none;
    background-color: transparent;
    font-size: 4rem;
    outline: none;
    cursor: pointer;
}
/* Quotes Section */
.quotes{
    background-color: #faf0af;
    text-align: center;
    padding: 2rem 4rem 4rem;
}
.quote__heading{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.quote{
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Header content */
.header__content{
    display: flex;
}
.header__imgbox{
    width: 50%;
    background-color: #000;
}
.header__img{
   width: 100%;
   display: block;
   opacity: 0.7;
}
.header__details{
    width: 50%;
    background-color: #fff;
    padding: 1rem 3rem;
}
.header__detail{
   font-size: 1.2rem;
   line-height: 1.5;
   padding: .5rem 0;
   color: #222;
}

/* Countdown Section */
.countdown{
  background-color: #ffdecf;
  padding: 2rem 4rem;
  text-align: center;
}
.countdown__heading{
   margin-bottom: 2rem;   
   font-size: 2.5rem;
   color: #333;
}
.countdown__content{
   display: flex;
   justify-content: space-evenly;
   padding: 2rem 3rem;
}
.count__box{
  width: 15%;
  padding: 1.5rem;
  border-radius: 4px;
  background-color: teal;
}
.count__title{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #dfd3c3;
}
.count__number{
    font-size: 4rem;
    color: #eee;
}

/* Testimonial Section */
.testimonials{
  background-color: #eee;
  padding: 2rem 4rem;
  text-align: center;
 
}
.testimonial__heading{
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 1rem 0 3rem;
}
.testimonial__content{
    display: flex;
    justify-content: center;
}
.testimonial{
  width: 30%;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 1rem;
  position: relative;
  transform: translateX(-50px);
  transition: all .5s;   
  
}
.testimonial::before{
   content: "\0022";
   font-size: 4rem;
   color: orangered;
   position: absolute;
   top: 5.5rem;
   left: 5.5rem;
}
.user__image{
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  margin: 1rem 0;

}
.user__name{
  font-size: 1rem;
  font-weight: 600;
  color: #888;
  margin: 1rem 0;
}
.user__thought{
  padding: .2rem 1.1rem 1.5rem;
  line-height: 1.5;
}
/* Career Page style */
.test{
    background-color: #dfd3c3;
}
.heading{
    padding:2rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: #faf0af;
    color: #333;
}
.test__content{
   padding: 2rem 4rem;
}
.test__question{
  font-size: 1.5rem;
  line-height: 2;
}
input{
    padding-left: 1rem;
}
.test__option{
  font-size: .9rem;
  line-height: 2;
  display: block;
  /* text-transform: capitalize; */
}
.option__check{
  font-size: 1.2rem;
  background-color: green;
  padding: .2rem .4rem;
  border-radius: 50px;
  color: #fff;
  margin-left: .5rem;
}
.option__check--red{
  background-color: red;
}
.test__answer{
  font-weight: 700;
  padding: 1rem 0;
  display: none;
}
.answer{
    color: green;
}
.btn{
  border: none;
  font-size: 1rem;
  margin: .5rem 0;
  background-color: indianred;
  color: #fff;
  border-radius: 4px;
  padding:.4rem ;
  outline: none;
}
.btn:hover{
  background-color: rgb(221, 100, 100);
  cursor: pointer;
}

/* Naviggation media query for small screen */
@media only screen and (max-width:500px){
    .list{
       flex-wrap: wrap;   
       padding-left: 0;  
    }
    .item{
        background-color: #888;
        text-align: center;
        flex-basis: 50%;
        /* padding: .2rem 2rem; */
        }
    .social{
        margin-top: .2rem;
        flex-basis: 25%;
    }
    .menu{
        display: block;
    }
    
}
@media only screen and (max-width:1000px){
    .nav{
        width: 100%;
    }
}
